.wrapper
  = render "tweets/side"
  .main
    .main__header
      ユーザー一覧
    .main__tweet 
      - @user.each do |user|  
        .user_avatars
          = link_to gravatar_for(user), user
          %p
            = user.nickname
    .main__pagenation
      = paginate(@user)
