.contents {
  h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.container {
  
  padding: 10px 30px;
  background-color: $mainColor;
  width: 400px;
  margin: 100px auto 0;

  label {
    color: #ffffff;
  }
}

.field {
  margin: 15px 0; 
  input {
  width: 100%;
  }
  em {
    color: $subColor;
  }
}

.actions {
  margin: 30px;
  text-align: center;
  input#devise-button {
    cursor: pointer;
    padding: 10px 60px;
    font-size: 1.2em;
    background-color: #ffffff;
    color: $mainColor;
    border-style: none
    
  }
}