@import "variable";

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  background-image:  url(/images/icons/140147.png);
  background-size: 100px;
  height: 100vh;
}

.side {
  width: 220px;
  background-color: $mainColor;
  text-align: center;
  padding: 0 20px;
  &__list {
    a {
      text-decoration: none;
    }
  }
  li {
    i {
      color: $mainWhitecolor;
      font-size: 30px;
      text-decoration: none;
    }

    transition-property: all;
    transition: 0.3s linear;
    font-size: 20px;
    color:$mainWhitecolor;
    line-height: 75px;
    text-align: left;
    }
  li:hover {
    background-color: $hoverColor;
    border-radius: 30px;
  }
}

.main {
  width: 700px;
  background-color: $mainColor;
  overflow-y: scroll;
  border-left: solid 1px $subColor;
  border-right: solid 1px $subColor;
  &__header {
   background-color:$mainColor;
    font-size: 20px;
   width: 699px;
   padding: 10px;
   color: white;
   position: fixed;
   top: 0;
   border-right: solid 1px $subColor;
   border-bottom: solid 1px $subColor;
   a {
    text-decoration: none;
    color: white;
   }
  }
  &__tweet {
    padding-top: 51px;
    &__content{
      transition-property: all;
      transition: 0.3s linear;
      display: flex;
      border-bottom: solid 1px $subColor;
      a {
        text-decoration: none;
        color: white;
      }
      &__left {
        h2 img {
          width: 40px;
          border-radius: 40px;
        }
        padding: 15px;
        i {
          color: white;
          font-size: 30px;
        }
      }
      &__right {
        margin: 10px 20px;
        height: auto;
        width: 600px;
       
        &__name {
          font-weight: bold;
          color: white;
          padding-bottom: 5px;
          width: 95%; 
          a {
            text-decoration: none;
            color: white;
          }
        }
        &__text {
          color: white;     
          padding-bottom: 10px;   
          p {
            word-break: break-all;
          }
        }
        &__image {
          a{
            img {
              border-radius: 5%;
                /*画像の表示サイズ*/
              width: 600px;
              height: 360px;
              /*画像表示の仕方*/
              object-fit: cover;
              /*画像表樹の基準*/
              object-position: 0 0;
            }
          }
        }
        &__link {
          text-align: right;
          padding: 5px 0;
        }
        &__post-time {
          text-align: right;
          color: $subColor;
          font-size: 14px;
        }
        &__more {
          padding-top: 10px;
          text-align: center;
          border-top: solid 1px $subColor;
          i {
            margin: 0 20px;
            transition-property: all;
            transition: 0.3s linear;
          }
          a:hover{ 
            background-color: $hoverColor;
            border-radius: auto;
          }
        }
      }
    }
    &__content:hover {
      background-color: $hoverColor;

    }
  }
  &__new {
    padding: 61px 10px 10px;
    textarea {
      width: 100%;
    }
    &__preview {
      justify-content: center;
      display: flex;
      
      img {
        border-radius: 5%;
          /*画像の表示サイズ*/
        width: 500px;
        height: auto;
        /*画像表示の仕方*/
        object-fit: cover;
        /*画像表樹の基準*/
        object-position: 0 0;
      }
    }
    &__button {
      display: flex;
      float: right;
      margin-top: 5px;
      height: 50px;
      
      &__image {
        width: 50px;
        text-align: center;
        line-height: 60px;
        transition-property: all;
        transition: 0.3s linear;
        i {
          font-size: 30px;
          color: #ffffff;
          cursor: pointer;
          transition-property: all;
          transition: 0.3s linear;
        }
      }
      &__image:hover {
        background-color: $hoverColor;
        border-radius: 40px;
      }
      &__submit {
        margin-left: 30px;
        input#new-submit {
          cursor: pointer;
          padding: 5px 20px;

          font-size: 1.2em;

          background-color: white;

          color: $mainColor;

          border: solid 1px #ffffff;



          border-radius: 5px;

          transition-property: all;
          transition: 0.3s linear;
        }
        input#new-submit:hover {
          background-color: $hoverColor;
          color: #ffffff;
        }
      }
    }
    .hidden {
      display: none;
    } 
  }
  &__comfirm {
    button {
      cursor: pointer;
      padding: 5px 20px;
      font-size: 1.2em;
      background-color: white;
      color: $mainColor;
      border-style: none;
      border-radius: 5px;
      transition-property: all;
      transition: 0.3s linear;
      border: solid 1px #ffffff;
    }
    
    button:hover {
      background-color: $hoverColor;
      color: #ffffff;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
    }
    text-align: center;
    padding: 101px 50px;
  }
  &__pagenation {
    text-align: center;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.main-icon {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}