* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-image:  url(/images/icons/140147.png);
  background-size: 100px;
  height: 100vh;
}

.side {
  width: 220px;
  background-color: red;
  text-align: center;
  padding: 0 20px;
  li {
    transition-property: all;
    transition: 0.3s linear;
    font-size: 20px;
    color: green;
    line-height: 75px;
    text-align: left;
    }
  li:hover {
    background-color: rgb(252, 116, 116);
    border-radius: 30px;
  }
}

.main {
  width: 700px;
  background-color: green;
  overflow-y: scroll;
  
  &__header {
   background-color: green;
    font-size: 20px;
   width: 700px;
   padding: 10px;
   color: white;
   position: fixed;
   top: 0;
   border-bottom: solid 1px rgb(110, 197, 110);
   a {
    text-decoration: none;
    color: white;
   }
  }
  &__tweet {
    padding-top: 51px;
    &__content{
      transition-property: all;
      transition: 0.3s linear;
      display: flex;
      border-bottom: solid 1px rgb(110, 197, 110);
      a {
        text-decoration: none;
        color: white;
      }
      &__left {
        padding: 15px;
        i {
          color: white;
          font-size: 30px;
        }
      }
      &__right {
        margin: 10px 20px;
        height: auto;
        width: 600px;
       
        &__name {
          font-weight: bold;
          color: white;
          padding-bottom: 5px;
          width: 95%; 
          a {
            text-decoration: none;
            color: white;
          }
        }
        &__text {
          color: white;     
          padding-bottom: 10px;   
          p {
            word-break: break-all;
          }
        }
        &__image {
          a{
            img {
              border-radius: 5%;
                /*画像の表示サイズ*/
              width: 600px;
              height: 360px;
              /*画像表示の仕方*/
              object-fit: cover;
              /*画像表樹の基準*/
              object-position: 0 0;
            }
          }
        }
        &__post-time {
          text-align: right;
          color: rgb(110, 197, 110);
          font-size: 14px;
        }
        &__more {
          padding-top: 10px;
          text-align: center;
          border-top: solid 1px rgb(110, 197, 110);
          i {
            margin: 0 20px;
            transition-property: all;
            transition: 0.3s linear;
          }
          i:hover {
            color: rgb(3, 54, 3);
          }
        }
      }
    }
    &__content:hover {
      background-color: rgb(53, 156, 53);

    }
  }
  &__new {
    padding: 61px 10px 10px;
    textarea {
      width: 100%;
    }
    &__preview {
      justify-content: center;
      display: flex;
      
      img {
        border-radius: 5%;
          /*画像の表示サイズ*/
        width: 500px;
        height: 300px;
        /*画像表示の仕方*/
        object-fit: cover;
        /*画像表樹の基準*/
        object-position: 0 0;
      }
    }
    &__button {
      display: flex;
      float: right;
      margin-top: 5px;
      &__image {
        
        i {
          font-size: 40px;
          color: white;
          cursor: pointer;
          transition-property: all;
          transition: 0.3s linear;
        }
        i:hover {
          color: rgb(3, 54, 3);
        }
      }
      &__submit {
        margin-left: 30px;
        input#new-submit {
          cursor: pointer;
          padding: 5px 20px;

          font-size: 1.2em;

          background-color: white;

          color: green;

          // submitボタンのを枠を非表示にする

          border-style: none;

          border-radius: 5px;

          transition-property: all;
          transition: 0.3s linear;
        }
        input#new-submit:hover {
          background-color: rgb(3, 54, 3);
        }
      }
    }
    .hidden {
      display: none;
    } 
  }
  &__comfirm {
    button {
      cursor: pointer;
      padding: 5px 20px;
      font-size: 1.2em;
      background-color: white;
      color: green;
      border-style: none;
      border-radius: 5px;
      transition-property: all;
      transition: 0.3s linear;
    }
    
    button:hover {
      background-color: rgb(3, 54, 3);
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
    text-align: center;
    padding: 101px 50px;
  }
  &__pagenation {
    text-align: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.main-icon {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.side-icon {
  color: green;
  font-size: 50px;
  text-decoration: none;
}
