* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-image: image-url("140147.png");
  background-size: 100px;
  height: 100vh;
}

.side {
  width: 90px;
  background-color: red;
  text-align: center;
}

.main {
  width: 50%;
  background-color: green;
  overflow: scroll;
  &__header {
   font-size: 20px;
   border-bottom: solid 1px rgb(110, 197, 110);
   padding: 10px;
   color: white;
   a {
    text-decoration: none;
    color: white;
   }
  }
  &__tweet {
    &__content{
      display: flex;
      border-bottom: solid 1px rgb(110, 197, 110);
      a {
        text-decoration: none;
        color: white;
      }
      &__left {
        padding: 15px;
        a {
          text-decoration: none;
          color: white;
          font-size: 30px;
        }
      }
      &__right {
        margin: 10px 20px;
        height: auto;
        width: calc(50vw - 77px);
       
        &__name {
          font-weight: bold;
          color: white;
          a {
            text-decoration: none;
            color: white;
          }
        }
        &__text {
          color: white;
        }
        &__image {
          img {
            border-radius: 5%;
          }
        }
      }
    }
  }
  &__new {
    &__image {
      #tweet_image {
        width: 100%;
      }
    }
    &__text{
      #tweet_image {
        width: 100%;
      }
    }
  }
}

.main-icon {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.side-icon {
  color: green;
  font-size: 50px;
}