.main {
  &__tweet {
    &__profile{
      border-bottom: 1px solid rgb(112, 87, 112);
      &__image {
        display: flex;
        justify-content: space-between;
        #follow-btn {
          margin: 100px 20px 0 0;
        }
        h1 {
          img {
            height: 150px;
            border-radius: 150px;
            margin: 10px;
          }
        }
    }
    }
  }
}

.stats {
  margin: 0 0 10px 10px;
  a {
    color: white;
    text-decoration: none;
    strong#following {
      font-weight: bold;
      font-size: 18px;
    }
    strong#followers {
      font-weight: bold;
      font-size: 18px;
    }
  }
}


input#follow-btn {
  cursor: pointer;
  padding: 5px 20px;

  font-size: 1.2em;

  background-color: #ffffff;
  color: $mainColor;

  border: solid 1px #ffffff;

  border-radius: 5px;

  transition-property: all;
  transition: 0.3s linear;
}
input#follow-btn:hover {
  background-color: $hoverColor;
  color:#ffffff;
}